{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 90vh;
    }
</style>
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>Sign in</h1>
    <input type="email" placeholder="Email" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
    <input type="password" placeholder="Password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button type="submit">Sign in</button>
</form>
<a href="/signup">Don't have an account yet?</a>
{% endblock %}
