{$DOMAIN_NAME} {
	root * {$APP_ROOT}/public
	php_fastcgi {$PHP_FPM_SOCK}
	file_server

	@rewriteApp {
		not path_regexp .*\.(php|css|js|png|jpg|jpeg|gif|ico|svg|woff|woff2|eot|ttf|otf|mp4|webm|ogg|mp3|wav|m4a|opus)$
	}
	rewrite @rewriteApp /public/index.php

	encode gzip

	header {
		Strict-Transport-Security max-age=31536000;
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		X-XSS-Protection "1; mode=block"
		Referrer-Policy no-referrer
	}
}
